---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="text-center text-xl pt-16 px-4 flex gap-5 flex-col">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam fugit molestias distinctio quo eaque repellat voluptates cupiditate. Voluptatibus officiis id minima veritatis. Quam in ullam tenetur! Tempora, id tenetur.</p>
    </main>
</Layout>
