---
import Layout from "../layouts/Layout.astro";
import './main.css';
---

<Layout>
    <section class="blog-container">
        <div class="blogpost-card">
            <img src="/blogpost1.jpg" alt="blogpost pic">
            <h2>Some kind of title</h2>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, in?</small>
            <a class="button" href="/">Read</a>
        </div>
    </section>
</Layout>

<style lang="scss">
    section.blog-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 2em 0;
    }
    div.blogpost-card {
        max-height: 30rem;
        border-radius: 5px;
        background-color: rgba(34, 51, 59, 0.3);
        box-shadow: 2px -3px 8px -2px #28383f;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: .4rem;
        padding: 1rem;
        small {
            color: gray;
        }
    }
</style>

