---
import Layout from '../layouts/Layout.astro';
import './main.css';
---
<Layout>
	<main>
		<h1>Hello, friend.</h1>
		<p>Not sure what you are doing here, but take a minute to check out this weirdly interesting blog.</p>
		<div>
			<a href="/blog">blog</a>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		width: 100%;
		height: auto;
		h1, p {
			text-align: center;
			font-size: xx-large;
			font-weight: 500;
			margin-bottom: 1rem;
		};
		div {
			display: grid;
			place-items: center;
		}
	}
</style>