---
import Layout from '../layouts/Layout.astro';
import './main.css';
---
<Layout>
	<main class="w-full h-full font-dosis px-6 flex flex-col justify-start items-center pt-16 gap-4">
		<h1 class="text-center text-2xl font-medium">Hello, friend.</h1>
		<p class="text-xl font-medium text-center">Not sure what you are doing here, but take a minute to check out this weirdly interesting blog.</p>
		<a class="text-gray-200 bg-slate-700 hover:bg-slate-300 hover:text-slate-700 px-3 py-1 text-xl" href="/blog">blog</a>
	</main>
</Layout>