@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Noto+Sans+Mono:wght@300;400;500&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* create variables of color, fonts and stuff */
    --bg-color-dark: #252627;
    --accent-color: #FA9500;
    --text-color: #fff;
    --text-logo: rgb(220 38 38);
    --main-font: 'Dosis', sans-serif;
    --content-font: 'Noto Sans Mono', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

a.button {
    text-decoration: none;
    color: inherit;
    padding: .3em 1em;
    background-color: #6f7378;
}

a.button:hover {
    color: black;
    background-color: var(--accent-color);
}

img {
    max-width: 100%;
    border-radius: 15px;
}