@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:wght@300;400;500&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* create variables of color, fonts and stuff */
    --bg-color-dark: #3e4041;
    --accent-color: #BD1E1E;
    --text-color: #fff;
    --text-logo: rgb(220 38 38);
    --main-font: 'Nunito', sans-serif;
    --title-font: 'Major Mono Display', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

a.button {
    text-decoration: none;
    color: inherit;
    padding: .3em 1em;
    background-color: #6f7378;
}

a.button:hover {
    color: black;
    background-color: var(--accent-color);
}

img {
    max-width: 100%;
    border-radius: 15px;
}