---
import '../pages/main.css'
---

<footer class="w-full h-24">
    <div class="flex justify-center items-center gap-4">
        <a href="https://github.com/k3tnalad"><img class="hover:border-b-2 border-[#FA9500]" src="/icons8-github.svg" alt="github icon"></a>
        <a href="https://twitter.com/k3tna_"><img class="hover:border-b-2 border-[#FA9500]" src="/icons8-twitter.svg" alt="twitter icon"></a>
    </div>
</footer>