---
import '../pages/main.css'
---


<header class="font-dosis flex justify-between items-center px-6 h-24 font-medium">
    <a href="/">
    <section class="text-2xl logo flex justify-center items-center gap-4 text-red-600">
        <span>
            [Coff
        </span>
        <div class="flex flex-col justify-center items-center">
            <span>
                ee]
            </span>
            <span class="text-gray-400 text-sm">
                in the
            </span>
            <span>	 
                in]
            </span>
        </div>	
    </section>
    </a>
    <nav>
        <a class="text-gray-200 bg-slate-700 hover:bg-slate-300 hover:text-slate-700 px-3 py-1 text-xl" href="/about">about</a>
    </nav>
</header>