---
import '../pages/main.css'


---


<div class="font-dosis header flex justify-between items-center px-6 h-24 bg-gray-900 text-red-600 font-medium">
    <section class="logo flex justify-center items-center gap-4">
        <span class="text-2xl e">
            [Coff
        </span>
        <div class="flex flex-col justify-center items-center text-red-600">
            <span>
                ee]
            </span>
            <span class="text-gray-400 text-sm">
                in the
            </span>
            <span>	 
                in]
            </span>
        </div>	
    </section>
    <nav>
        <a href="/blog">Blog</a>
    </nav>
</div>