---
import '../pages/main.css'
---


<header>
    <a href="/">
        <section class="text-2xl logo flex justify-center items-center gap-4 text-red-600">
            <span>
                [Coff
            </span>
            <div>
                <span>
                    ee]
                </span>
                <span class="gray">
                    in the
                </span>
                <span>	 
                    in]
                </span>
            </div>	
        </section>
    </a>
    <nav>
        <a class="button" href="/about">About</a>
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        font-weight: 500;
        padding: .5rem 1rem;
        margin-bottom: 1em;
        section {
            font-size: x-large;
            color: var(--text-logo);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                span.gray {
                    font-size: medium;
                    color: #475569;
                }
            }
        }
    }
</style>