---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import './main.css';
const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Noto+Sans+Mono:wght@300;400;500&display=swap" rel="stylesheet">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Header />
		<slot />
		<Footer />
	</body>
</html>